input[type="text"] {
    outline: none;
    border: none;
    background: #ffffff22;
    padding: 1rem .5rem;
    color: #ffffff;
    font-size: 1.125rem;
    border-radius: .5rem;
    transition: 400ms;
}

input[type="text"]:hover {
    transition: 400ms;
    background: #ffffff28;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
}

input[type="submit"] {
    margin-top: 1.5rem;
    padding: 1rem;
}